In [9]:
import requests
import pandas as pd

def get_data(url):
    response = requests.get(url)
    return response.json()
data = get_data("https://fapi.binance.com/fapi/v1/ticker/24hr")

In [27]:
limit = 200
# 获取24小时交易量排行
if data is None:
    data = get_data("https://fapi.binance.com/fapi/v1/ticker/24hr")
# 按成交额(quoteVolume)排序
sorted_data = sorted(data, key=lambda x: float(x['quoteVolume']), reverse=True)
# 过滤掉非USDT的对子
top_limit_data = [x for x in sorted_data if x['symbol'].endswith('USDT')][:limit]
symbols = [x['symbol'] for x in top_limit_data]
# print(pd.DataFrame(data))
# symbols = pd.DataFrame(symbols)
# print('symbols中最低成交货币对为:',top_limit_data[-1]['symbol'],'成交额为:',top_limit_data[-1]['quoteVolume'])
print(symbols)

['ETHUSDT', 'BTCUSDT', 'ALPACAUSDT', '1000LUNCUSDT', 'SOLUSDT', 'PIPPINUSDT', 'ZECUSDT', 'LUNA2USDT', 'XRPUSDT', 'BNXUSDT', 'ALPHAUSDT', 'DOGEUSDT', 'BNBUSDT', 'SUIUSDT', 'PIEVERSEUSDT', 'FARTCOINUSDT', 'BCHUSDT', 'HYPEUSDT', 'PORT3USDT', 'POWERUSDT', 'USTCUSDT', '1000PEPEUSDT', 'LINKUSDT', 'BEATUSDT', 'ASTERUSDT', 'ACEUSDT', 'PUFFERUSDT', 'AVAXUSDT', 'ADAUSDT', 'ENAUSDT', 'PUMPUSDT', 'UXLINKUSDT', 'VIDTUSDT', 'SXPUSDT', 'AGIXUSDT', 'RLSUSDT', 'XNYUSDT', 'APTUSDT', 'BOBUSDT', 'SAPIENUSDT', 'LTCUSDT', 'LINAUSDT', 'MEMEFIUSDT', 'LEVERUSDT', 'NEIROETHUSDT', 'FTMUSDT', 'MONUSDT', 'XPLUSDT', 'GRIFFAINUSDT', 'WAVESUSDT', 'TAOUSDT', 'OMNIUSDT', 'AMBUSDT', 'AI16ZUSDT', 'BSWUSDT', 'OCEANUSDT', 'AAVEUSDT', 'UNIUSDT', 'PENGUUSDT', 'SWARMSUSDT', 'DOTUSDT', 'TRADOORUSDT', '1000SHIBUSDT', 'NEARUSDT', 'TRXUSDT', 'WIFUSDT', 'GIGGLEUSDT', 'STRAXUSDT', 'THEUSDT', 'FILUSDT', 'WLDUSDT', 'RENUSDT', 'UNFIUSDT', 'TIAUSDT', 'LIGHTUSDT', 'YBUSDT', 'TRUMPUSDT', 'TNSRUSDT', 'DGBUSDT', 'EGLDUSDT', 'TURBOUSDT', 'TROYUSDT', 'DASHUSDT', 'HUSDT', 'ARBUSDT', 'CRVUSDT', 'CVCUSDT', 'VIRTUALUSDT', '币安人生USDT', 'HIFIUSDT', 'ICPUSDT', 'HBARUSDT', 'STRKUSDT', 'OPUSDT', 'ZENUSDT', 'XLMUSDT', 'SNTUSDT', 'MKRUSDT', 'AIAUSDT', '1000BONKUSDT', 'LSKUSDT', 'PAXGUSDT', 'SPELLUSDT', 'BATUSDT', 'BANANAS31USDT', 'GRASSUSDT', 'FETUSDT', 'WLFIUSDT', 'SLERFUSDT', 'SEIUSDT', 'ETCUSDT', 'RAREUSDT', 'BLZUSDT', 'TONUSDT', 'MERLUSDT', 'BAKEUSDT', 'SKYAIUSDT', 'INJUSDT', 'RONINUSDT', 'STABLEUSDT', 'LDOUSDT', 'COMBOUSDT', 'DYDXUSDT', 'ONDOUSDT', 'EIGENUSDT', 'ATUSDT', 'FLUXUSDT', 'ORCAUSDT', 'CHZUSDT', 'NULSUSDT', 'LOKAUSDT', 'RESOLVUSDT', 'PARTIUSDT', 'ALLOUSDT', 'ALCHUSDT', 'METUSDT', 'ATOMUSDT', 'SPXUSDT', 'MMTUSDT', 'GALAUSDT', 'IRYSUSDT', 'KEYUSDT', 'XMRUSDT', 'ETHFIUSDT', '1INCHUSDT', 'APEUSDT', 'RECALLUSDT', 'PLUMEUSDT', 'KDAUSDT', 'PNUTUSDT', 'ARCUSDT', 'LOOMUSDT', '1000CHEEMSUSDT', 'ZKUSDT', 'OMUSDT', 'KITEUSDT', 'NEIROUSDT', 'SUPERUSDT', 'POLUSDT', 'DENTUSDT', 'TRBUSDT', 'MDTUSDT', '0GUSDT', 'SAHARAUSDT', '4USDT', 'PTBUSDT', '2ZUSDT', 'ORDIUSDT', 'PENDLEUSDT', 'SYRUPUSDT', 'NMRUSDT', 'SNXUSDT', 'TRUTHUSDT', 'LINEAUSDT', 'MELANIAUSDT', 'ALGOUSDT', 'KLAYUSDT', 'KAITOUSDT', 'OMGUSDT', 'NXPCUSDT', 'COMPUSDT', 'CAKEUSDT', 'ACTUSDT', 'USELESSUSDT', 'FOLKSUSDT', '1000FLOKIUSDT', 'HYPERUSDT', 'JUPUSDT', 'BONDUSDT', 'ZEREBROUSDT', 'CKBUSDT', 'REDUSDT', 'RENDERUSDT', 'ZROUSDT', 'HMSTRUSDT', 'REEFUSDT', 'IPUSDT', 'XEMUSDT', 'ALICEUSDT', 'SOONUSDT']

In [28]:
print(pd.Series(top_limit_data[-1]))

symbol                       SOONUSDT
priceChange                 0.0074000
priceChangePercent              1.713
weightedAvgPrice            0.4264443
lastPrice                   0.4395000
lastQty                            13
openPrice                   0.4321000
highPrice                   0.4445000
lowPrice                    0.4108000
volume                       22592674
quoteVolume           9634516.7814700
openTime                1764957180000
closeTime               1765043607690
firstId                     175330502
lastId                      175464542
count                          134039
dtype: object

In [37]:
pd.options.display.float_format = '{:,.2f}'.format
sorted_df = pd.DataFrame(top_limit_data)
# sorted_df
volume_above_1M = sorted_df[sorted_df['quoteVolume'].astype(float) > 10_000_000]
volume_above_1M['volume_per_min']= volume_above_1M['quoteVolume'].astype(float) / 1440
print(volume_above_1M[['symbol','quoteVolume','volume_per_min']])

           symbol         quoteVolume  volume_per_min
0         ETHUSDT       7071081700.21    4,910,473.40
1         BTCUSDT       6519798600.60    4,527,637.92
2      ALPACAUSDT  2911352253.7450800    2,021,772.40
3    1000LUNCUSDT  2408876154.1898700    1,672,830.66
4         SOLUSDT     1467455354.8407    1,019,066.22
..            ...                 ...             ...
190       CKBUSDT    10286313.3658650        7,143.27
191       REDUSDT    10222923.0920000        7,099.25
192    RENDERUSDT    10210979.0399000        7,090.96
193       ZROUSDT    10031132.5284600        6,966.06
194     HMSTRUSDT    10029767.6754149        6,965.12

[195 rows x 3 columns]

C:\Users\yxzhe\AppData\Local\Temp\ipykernel_24232\1944643268.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume_above_1M['volume_per_min']= volume_above_1M['quoteVolume'].astype(float) / 1440

In [4]:
import pandas as pd
BASE_DIR = '../data/futures/um/daily/klines'
pd.read_parquet(f'{BASE_DIR}/SOLUSDT/1m/SOLUSDT-1m-2024-02-15.parquet')

,timestamp,open,high,low,close,volume,quote_volume,count,taker_buy_volume,taker_buy_quote_volume
0,2024-02-15 00:00:00,117.092,117.130,116.989,117.059,14066,1646664.638,1475,6434,753181.425
1,2024-02-15 00:01:00,117.061,117.080,116.996,117.079,3874,453413.423,723,2132,249537.244
2,2024-02-15 00:02:00,117.079,117.088,116.962,117.049,16491,1929734.376,1391,5763,674289.483
3,2024-02-15 00:03:00,117.049,117.160,117.046,117.134,19742,2311894.817,1572,10677,1250227.586
4,2024-02-15 00:04:00,117.136,117.141,117.040,117.103,7257,849677.534,933,2287,267735.573
...,...,...,...,...,...,...,...,...,...,...
1435,2024-02-15 23:55:00,113.579,113.612,113.568,113.576,6132,696554.575,649,1635,185718.396
1436,2024-02-15 23:56:00,113.575,113.670,113.569,113.670,10442,1186305.426,1052,6056,688045.119
1437,2024-02-15 23:57:00,113.669,113.754,113.669,113.725,12021,1366983.297,1207,6647,755875.863
1438,2024-02-15 23:58:00,113.728,113.750,113.664,113.670,13118,1491708.530,987,6006,683009.661
1439,2024-02-15 23:59:00,113.671,113.671,113.575,113.598,8889,1010018.377,884,2234,253864.398

In [5]:
import pandas as pd
BASE_DIR = '..'
pd.read_parquet(f'{BASE_DIR}/debug_test.parquet')

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,2024-01-01 00:00:00,0.013342,0.013348,0.013284,0.013348,21047164,2024-01-01 00:00:59.999,280322.913629,1845,13980792,186237.166351,0
1,2024-01-01 00:01:00,0.013345,0.013391,0.013343,0.013385,12125305,2024-01-01 00:01:59.999,162080.507151,1042,8861161,118459.671781,0
2,2024-01-01 00:02:00,0.013387,0.013419,0.013386,0.013416,6959909,2024-01-01 00:02:59.999,93288.282179,733,5534450,74184.330626,0
3,2024-01-01 00:03:00,0.013416,0.013441,0.013414,0.013430,9076199,2024-01-01 00:03:59.999,121862.674811,872,6404646,86004.691179,0
4,2024-01-01 00:04:00,0.013429,0.013460,0.013429,0.013454,11352988,2024-01-01 00:04:59.999,152685.882215,1043,8643317,116237.489436,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2024-01-01 23:55:00,0.014862,0.014960,0.014862,0.014952,26483796,2024-01-01 23:55:59.999,395189.025589,2056,18159187,270907.006802,0
1436,2024-01-01 23:56:00,0.014953,0.014966,0.014902,0.014947,21164656,2024-01-01 23:56:59.999,316039.418766,1939,8651593,129170.275479,0
1437,2024-01-01 23:57:00,0.014947,0.014950,0.014897,0.014922,12093591,2024-01-01 23:57:59.999,180482.128768,1272,4720188,70448.682558,0
1438,2024-01-01 23:58:00,0.014921,0.014984,0.014920,0.014950,21046507,2024-01-01 23:58:59.999,314838.323146,1798,13019366,194765.204398,0
1439,2024-01-01 23:59:00,0.014949,0.015020,0.014941,0.015002,35331756,2024-01-01 23:59:59.999,529508.550586,2452,22110195,331388.109185,0

In [10]:
test = pd.read_csv('../BNXUSDT-1m-2025-12-04.csv')
test['close_time'] = pd.to_datetime(test['close_time'], unit='ms')
test

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,1764806400000,2.0,2.0,2.0,2.0,0,2025-12-04 00:00:59.999,0,0,0,0,0
1,1764806460000,2.0,2.0,2.0,2.0,0,2025-12-04 00:01:59.999,0,0,0,0,0
2,1764806520000,2.0,2.0,2.0,2.0,0,2025-12-04 00:02:59.999,0,0,0,0,0
3,1764806580000,2.0,2.0,2.0,2.0,0,2025-12-04 00:03:59.999,0,0,0,0,0
4,1764806640000,2.0,2.0,2.0,2.0,0,2025-12-04 00:04:59.999,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1764892500000,2.0,2.0,2.0,2.0,0,2025-12-04 23:55:59.999,0,0,0,0,0
1436,1764892560000,2.0,2.0,2.0,2.0,0,2025-12-04 23:56:59.999,0,0,0,0,0
1437,1764892620000,2.0,2.0,2.0,2.0,0,2025-12-04 23:57:59.999,0,0,0,0,0
1438,1764892680000,2.0,2.0,2.0,2.0,0,2025-12-04 23:58:59.999,0,0,0,0,0
1439,1764892740000,2.0,2.0,2.0,2.0,0,2025-12-04 23:59:59.999,0,0,0,0,0

In [54]:
import requests
import pandas as pd
from datetime import datetime
import io
import zipfile

# 目标回测起始时间
TARGET_DATE = "2024-01-15" # 选一月中旬的一天作为“探针”，避开元旦假期可能的异常
TARGET_TIMESTAMP = datetime(2024, 1, 1).timestamp() * 1000 # 2024-01-01 的毫秒时间戳

def get_tradable_vectors():
    print("1. 获取所有当前交易对...")
    url = "https://fapi.binance.com/fapi/v1/exchangeInfo"
    resp = requests.get(url).json()
    
    candidates = []
    for s in resp['symbols']:
        # 筛选条件1: 必须是 USDT 本位合约
        # 筛选条件2: 必须在交易中 (TRADING)
        # 筛选条件3: 上线时间必须早于 2024-01-01
        if s['contractType'] == 'PERPETUAL' and \
           s['quoteAsset'] == 'USDT' and \
           s['status'] == 'TRADING' and \
           s['onboardDate'] < TARGET_TIMESTAMP:
            candidates.append(s['symbol'])
            
    print(f"   符合时间条件的‘老币’共有: {len(candidates)} 个")
    return candidates

def probe_volume(symbol):
    """
    下载该币 2024-01-15 一天的数据，计算成交额
    """
    url = f"https://data.binance.vision/data/futures/um/daily/klines/{symbol}/1m/{symbol}-1m-{TARGET_DATE}.zip"
    try:
        r = requests.get(url, timeout=5)
        if r.status_code != 200:
            return 0
        
        with zipfile.ZipFile(io.BytesIO(r.content)) as z:
            with z.open(z.namelist()[0]) as f:
                # 币安K线第6列是 Quote Volume (成交额)
                df = pd.read_csv(f, header=None)
                daily_volume = df.iloc[:, 7].sum() # 第8列(索引7)通常是 Quote Asset Volume
                return daily_volume
    except Exception:
        return 0

def main():
    # 1. 拿到所有“老币”
    candidates = get_tradable_vectors()
    
    print(f"2. 开始对 {len(candidates)} 个老币进行‘流量探针’测试 (2024-01-15的数据)...")
    print("   这可能需要几分钟，请耐心等待...")
    
    volume_rank = []
    
    # 这里为了演示不加多线程，如果你想快可以像之前那样并发
    total = len(candidates)
    for i, symbol in enumerate(candidates):
        vol = probe_volume(symbol)
        if vol > 0:
            volume_rank.append((symbol, vol))
        print(f"\r   进度: {i+1}/{total} - {symbol}: ${vol:,.0f}", end="")
    
    print("\n3. 排序完成！")
    
    # 按成交额倒序排列
    volume_rank.sort(key=lambda x: x[1], reverse=True)
    
    # 取前 200
    top_200 = [x[0] for x in volume_rank[:200]]
    
    print("\n" + "="*50)
    print("以下是 2024年1月15日 成交额最大的 200 个币种列表：")
    print("="*50)
    print(str(top_200))
    print("="*50)
    print(f"\n建议复制上面的列表，替换 download_data.py 中的 SYMBOLS 变量。")

if __name__ == "__main__":
    main()

1. 获取所有当前交易对...
   符合时间条件的‘老币’共有: 188 个
2. 开始对 188 个老币进行‘流量探针’测试 (2024-01-15的数据)...
   这可能需要几分钟，请耐心等待...

TypeError: '>' not supported between instances of 'str' and 'int'